<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <h3 class="red">
      <% if @post.category=="0" %>
          ¿Que necesitas?
      <% else %>
          ¿Con que puedo ayudar?
      <% end %>
    </h3>
    <div class="help-type">
      <% if @requirements -%>
          <% @requirements.each do |requirement| -%>

              <%= fields_for 'requirement[]' , requirement do |requirement_fields| -%>

                  <%= requirement.name %>
                  <%= requirement_fields.check_box :id %>
                  <br>
              <% end -%>
          <% end -%>
      <% end -%>
      <br />
    </div>
    <br/>
    <h3 class="red">Descripción:</h3>
    <%= f.text_area :content, rows:5, cols:80, required: true %><br />
    <h3 class="red">Ubicación :</h3>
    <div id="mapPost" style="height:250px;width:100%;margin:0 auto;"></div>
    <%= f.fields_for :location do |fact| %>
        <%= fact.hidden_field :address %>
        <%= fact.hidden_field :latitude %>
        <%= fact.hidden_field :longitude %>
    <% end %>
    <h3 class="red">Teléfono de Contacto:</h3>
    <%= f.text_field :phone , class:"big-input", required: true%><br />
    <%= f.hidden_field :category, value: @post.category %>

    <br>
    <div id="reminder" class="alert alert-danger" style="display: none" role="alert"></div>
    <div class="buttons">
      <%= button_tag  'Cancelar', type:'button', onclick: "location.href = '/posts'", class:"button cancelar" %>

      <%= f.submit 'Guardar', class:"button aceptar" %>
    </div>

    <div class="logo">
      <%= image_tag('XMX.png') %>
    </div>
<% end %>

<script>
    $('#new_post').submit(function() {  //When a form is submitted...
        if ($('#post_location_attributes_latitude').val() != 12) { //To see if it is empty...
            $( '#reminder' ).toggle().text( "¡No olvides de poner tu ubicación!" ).show().fadeOut( 4000 );
            return false;            //Don't submit the form
        }
    });
</script>