<p id="notice"><%= notice %></p>

<h1>Publicaciones</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  <% @posts.each do |post| %>
      <div class="media">
        <div class="media-left">
          <a href>
            <img alt="64x64" class="media-object" style="width: 64px; height: 64px;" src="<%= post.user.picture %>" data-holder-rendered="true">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= post.user.name %></h4>
          <p><% if post.category == "0"%>
                Necesito
            <% elsif post.category =="1"%>
                Quiere ayudar con
            <% end %>
            <%= post.requirements.find_each do |req| %>
                <%= req.name %>,
            <% end %>
          </p>
          <p><%= post.content %></p>
          <p><%= post.helping_users.count %> persona(s) ayudando</p>
          <p>
            <% if post.user.id == current_user&.id %>
                <%= link_to("Borrar", delete_post_path(id: post), method: :post) %>
            <% elsif current_user && post.category == "0" %>
                <%= button_to("Ayudar", help_post_path(id: post), method: :post, class: "btn btn-primary", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' ) %>

                <div id="modal-window" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel" style="text-align: center">Ayudar</h4>
                      </div>
                      <div class="modal-body row">
                        <div class="col-sm-4">
                          Whatsapp
                          <a href="https://api.whatsapp.com/send?phone=521<%= post.phone %>" target="_blank">
                            <img class="img-responsive" src="images/whatsapp.png">
                          </a>
                        </div>
                        <div class="col-sm-4">
                          Facebook
                          <a href="https://<%= post.user.fb_profile %>" target="_blank">
                            <img class="img-responsive" src="images/facebook.png">
                          </a>
                        </div>
                        <div class="col-sm-4">
                          Teléfono
                          <a href="tel:52<%= post.phone %>">
                            <img class="img-responsive" src="images/phone.png">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <% elsif current_user && post.category == "1" %>
              <%= button_to("Solicitar", request_post_path(id: post), method: :post, class: "btn btn-primary", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-request' ) %>

              <div id="modal-request" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel" style="text-align: center">Ayudar</h4>
                    </div>
                    <div class="modal-body row">
                      <div class="col-sm-4">
                        Whatsapp
                        <a href="https://api.whatsapp.com/send?phone=521<%= post.phone %>" target="_blank">
                          <img class="img-responsive" src="images/whatsapp.png">
                        </a>
                      </div>
                      <div class="col-sm-4">
                        Facebook
                        <a href="https://<%= post.user.fb_profile %>" target="_blank">
                          <img class="img-responsive" src="images/facebook.png">
                        </a>
                      </div>
                      <div class="col-sm-4">
                        Teléfono
                        <a href="tel:52<%= post.phone %>">
                          <img class="img-responsive" src="images/phone.png">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<script>
    function openModal(post) {
        $.ajax({
            url: "<%= help_post_path %>",
            type:'POST',
            data: {
                id: post
            },
            dataType: "script"
        });
    }
</script>


