<%= render 'application/navigation' %>
<div style="margin-top:100px;"></div>
<% @posts.each do |post| %>
  <div class="post-container">
    <div class="post">
      <h4 class="center hour"><%= post.created_at.in_time_zone(-5).strftime("%b %e, %l:%M %p") %></h4>
      <div class="image-container">
        <%= image_tag(post.user.picture) %>
      </div>
      <div class="post-info">
        <h3><%= post.user.name %></h3>
        <p>
           <% if post.category == "0"%>
              <span class="red">
                Necesito ayuda
              </span>
          <% elsif post.category =="1"%>
              <span class="green">
                Quiero ayudar
              </span>
          <% end %>
           con
          <%= post.requirements.find_each do |req| %>
              <span class="underline"><%= req.name %></span>,
          <% end %>
          en <i class="fa fa-map-marker" aria-hidden="true"></i> <b><%= post.location.address %></b><hr style="border-color:#000"> <%= post.content %><br/></p>
      </div>
      <% if post.category == "0"%>
          <span>Ayudado por: <%=post.helping_users.count %> persona(s)</span>
    <% end %>
    </div>
    <div class="my-button-container">
      <% if post.category == "1" %>
        <% if post.user.id == current_user&.id %>
            <%= button_to("Borrar", delete_post_path(id: post), method: :post, class:"my-button b-red") %>
        <% elsif  post.category == "1" %>
            <%= button_to("Solicitar", post_path(id: post), method: :get, class: "my-button b-red" ) %>
        <% end %>
      <% else %>
        <% if post.user.id == current_user&.id %>
            <%= button_to("Borrar", delete_post_path(id: post), method: :post, class:"my-button b-red") %>
        <% elsif post.category == "0" %>
            <% if post.helping_users.where(id: current_user&.id).empty? %>
              <%= button_to("Ayudar", help_post_path(id: post), id:"help", method: :post, class: "my-button b-green") %>
              <% else %>
                  <%= button_to("Cancelar", cancel_help_post_path(id: post), method: :post, class: "my-button b-red", :remote => true ) %>
            <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render partial: 'show_modal' %>

<script>
</script>



