

<%= form_for @instance['post'], url: {controller: :posts, action: :create} do |f| %>

    <h3 class="red">
      <% if @instance['category']=="0" %>
          ¿Que necesitas?
          <% else %>
          ¿Con que puedo ayudar?
       <% end %>
    </h3>
    <div class="help-type">
      <% if @instance['requirements'] -%>
      <% @instance['requirements'].each do |requirement| -%>

          <%= fields_for 'requirement[]' , requirement do |requirement_fields| -%>

              <%= requirement.name %>
              <%= requirement_fields.check_box :id %>
          <% end -%>
      <% end -%>
    <% end -%>
    <br />
    </div>
    <br/>
    <h3 class="red">Descripción:</h3>
    <%= f.text_area :content, rows:5, cols:80 %><br />
    <h3 class="red">Ubicación :</h3>
    <div id="mapPost" style="height:250px;width:100%;margin:0 auto;"></div>
    <%= f.fields_for :location do |fact| %>
        <%= fact.hidden_field :address %>
        <%= fact.hidden_field :latitude %>
        <%= fact.hidden_field :longitude %>
    <% end %>
    <h3 class="red">Teléfono de Contacto:</h3>
    <%= f.text_field :phone %><br />
    <%= f.hidden_field :category, value: @instance['category'] %>

    <div class="buttons">
      <%= button_tag  'Cancelar', type:'button', onclick: "location.href = '/posts'", class:"button cancelar" %>

      <%= f.submit 'Guardar', class:"button aceptar" %>
    </div>
<% end %>
<div class="logo">
  <%= image_tag('XMX.png') %>
</div>

