<!DOCTYPE html>
<html>
  <head>
    <title>PorMexicoWeb</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <script src="../markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD77Yu3bUG5XHXt7x7_LeAp3_uQE6fCH08&callback=initMap" async defer></script>
  </head>

  <body>
  <%= render 'application/navigation' %>
  <%= yield %>
  </body>
</html>
