<!DOCTYPE html>
<html>
  <head>
    <title>PorMexicoWeb</title>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <script src="../markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD77Yu3bUG5XHXt7x7_LeAp3_uQE6fCH08&callback=initMap" async defer></script>
  </head>

  <body>
  <%= yield %>
  </body>
</html>
